@font-face {
    font-family: "NunitoSans-Regular";
    src: url(./fonts/NunitoSans-Regular.ttf);
    font-style: normal;
}
@font-face {
    font-family:"YesevaOne";
    src: url(./fonts/YesevaOne.ttf);
}
@font-face {
    font-family:"NunitoSans-Italic";
    src: url(./fonts/NunitoSans-Italic.ttf);
}

*{
    margin-top: 0px;
    margin-left: 20px;
    font-family: "NunitoSans-Regular";
    box-sizing: border-box;
    text-decoration: none;
}
.button{
    background: #E3B873;
    border-radius: 2px;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.item-gold{
    color: #E3B873;
    text-transform: uppercase;
    font-family:"YesevaOne";
    font-size: 18px;
}
.item-white{
    font-family: "NunitoSans-Regular";
    color: #fff;
    line-height: 21px;
    font-size: 13px;
}
.top{
    background-color: #131313;
    max-width: 1438px;
    height: 1060px;

}
.container-top{
    display: flex;
    flex-direction: row;
    align-items: baseline;    
}

.menu-nav-top{
    display: flex;
    align-items: center;
    height: 73px;
    justify-content: space-between;

}

.logo{
    position: absolute;
    font-family: 'NunitoSans-Regular';
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
    color: #E3B873;
    margin-top: 10px;
    width: 200px;
}
.bord-hide{
    display: none;
}

.ul-menu {
    position: relative;
    margin-left: 234.21px;
    margin-bottom: 4px;
    display: flex; 
    list-style-type: none;
    color: aliceblue;
    flex-direction: row;
    align-items: center;

}
.menu-item{ 
    text-transform: uppercase;
    font-size: 11px;
    font-style: normal;
}
a { color: aliceblue;
    margin-right: 14.09px;
    flex-direction: row;
}
.home{
    color:#E3B873;
}
.tel{
    margin-bottom: 3px;
}
.tel a{
    position: absolute;
    margin-left: 70px;
    margin-top: 0;
    line-height: 1px;
    font-family: "NunitoSans-Regular";
    font-size: 11px;
    text-align: right;
    text-decoration-line: underline;
    color: #E3B873;
}

.button.v1{
    position: absolute;
    width: 161px;
    height: 40px;
    margin-left: 1145px;
    margin-bottom: 4px;
    font-size: 11px;
    line-height: 15px;
    font-family: "NunitoSans-Italic";
}


.bg{
    background:url(step1.jpg) no-repeat;
     height:700px;
     margin-left:0px;
     position:relative;
   }
   .bg:after{
     background:#000000
     ;
     content:' ';
     top:0;
     bottom:0;
     left:0;
     right:0;
     position:absolute;
     z-index:0;
     opacity:0.7;
   }
   .bg *{
    z-index:1;
    position:relative;
    color:#fff;
  }
.container2{
    display: flex;

}
.text{
    position: absolute;
    margin-top: 0px;
    margin-left: 119px;
    width: 671.11px;
    height: 105px;
    top: 195px;
    line-height: 53px;

}
.text p{
    position:absolute;
    font-size: 40px;
    font-family: 'YesevaOne';
    font-style: normal;
    text-transform: uppercase;
    width: 900px;

}
.text p span{
    color:#E3B873;
    font-family: 'YesevaOne';
    font-weight: bold;

}
h1 span{
    font-family: 'YesevaOne';
    font-style: normal;
    font-size: 40px;
    text-transform: uppercase;
}
.small-text{
    position: absolute;
    margin-left: 120px;
    margin-top: 320px;
    color: #FFFFFF;
    font-family: 'NunitoSans-Regular';
    font-style: normal;
    font-size: 22px;
    color: #FFFFFF;
    line-height: 36px;
}
.button.v2{
    position: absolute;
    width: 207px;
    height: 51px;
    margin-left: 140px;
    margin-top: 450px;
    font-size: 11px;
    line-height: 15px;
    border: 0ch;
}
.button.v3{
    box-sizing: border-box;
    position: absolute;
    width: 207px;
    height: 51px;
    margin-left: 373px;
    margin-top: 450px;
    border: 1px solid #FFFFFF;
    font-size: 11px;
    line-height: 15px;
    background: transparent;
}
.button.v3.hidden{
    display: none;
}
.step2-container{
    background-color: black;
    height: 1090.5px;
    position: relative;
    margin-left: 0px;
}

.container-step2-top{
    position: relative;
    display: flex;
}
.ul-menu-step2 {
    position: absolute;
    margin-top: 108px;
    margin-left: 503.67px;
    display: flex; 
    list-style-type: none;
    flex-direction: row;
}
.ul-menu-step2 li{
    margin-right: 10px;
}
.menu-step2-1{
    color:#E3B873;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 19px;
    font-family: 'YesevaOne';
    text-decoration: none; 
    border-bottom: 1px #E3B873 solid;
    padding-bottom: 8px;
}
.menu-step2{
    font-family: 'YesevaOne';
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    list-style-type: none;
    color: rgba(255, 255, 255, 0.3);
    flex-direction: row;
    margin-right: 10px;
}

.text1-step2{
    position: absolute;
    width: 253px;
    height: 66px;
    top: 159.36px;
    left: 90px;
    color: #E3B873;
    padding: 20px;
    text-transform: uppercase;
}
.text1-step2 h2{
    position: relative;
    margin-left: 0px;
    margin-top: 0px;
    font-family:"YesevaOne";
    line-height: 37px;
    font-size: 27px;
}
.text2-step2{
    position: relative;
    width: 500px;
    height: 86px;
    top: 260px;
    left: 50px;
    font-family: "NunitoSans-Regular";
    font-size: 14px;
    line-height: 27px;
    color: #FFFFFF;
    padding: 20px;
}

.img-step2{
    position: absolute;
    transform: translate(559.45px,44.68px);
    margin-top: 50px;
}
.img-hide{
    display: none;
    position: relative;
    margin: 20px;
    z-index: 100;
}
.pointer-right{
    display: none;
    margin-top: 0px;
    width: 70px;
    height: 70px;
}
.pointer-left{
    width: 70px;
    height: 70px;
    display: none;
    margin-top: 0px;
}
.container1-step2{
    width: 162px;
    height: 700px;
    margin-top: 320px;
    margin-left: 90px;
    color: #FFFFFF;
    display: grid;
    flex-direction: row;
    position: relative;
    grid-template-columns: 190px 50px;
    grid-template-rows: 500px 500px;
}
.item-gold.v1{
    width: 180px;
    height: 42px;
    margin-top: 0px;
    margin-bottom: 0px;   
}
.item-white.v1{
    position: relative;
    font-size: 13px;
    width: 100px;
    height: 30px;
    line-height: 21px;
    font-size: 13px;
}
.item-gold.v2{
    margin-top: 10px;
    width: 200px;
    position: absolute;
    margin-top: 26px;
}
.item-white.v2{
    line-height: 21px;
    margin-top: 70px;
    margin-bottom: 20px;
    width: 100px;
    height: 42px;
}
.the-image-lines{
    position: absolute;
    margin-top: 240px;
}
.online-control{
    position: absolute;
    margin-top: 347px;
    margin-left: 510px;
}
.bg-step2{
    background:url(середина.jpg) no-repeat;
    z-index: 2;
    width: 817px;
    height: 434px;
    left: 350px;
    top: 1627px;
    position:absolute;
   }
   .bg-step2:after{
     background:#000000
     ;
     content:' ';
     top:0;
     bottom:0;
     left:0;
     right:0;
     position:absolute;
     z-index:0;
     opacity:0.8;
   }
   .circle-step2{
    position: absolute;
    width: 86px;
	height: 86px;
	border-radius: 100px;
    z-index: 4;
    border: 0ch;
    left: 42.14%;
    right: 47.14%;
    top: 40.24%;
    bottom: 56.42%;
    background-color: #E3B873;
   }
.triangle{
    position: absolute;
    width: 0px;
	height: 0px;
	border-top: 12px solid transparent;
	border-left: 23px solid white;
	border-bottom: 12px solid transparent;
    margin: 28px;
    margin-left: 35px;
    margin-top: 32px;
}
.bord-hide{
    display: none;
}
.main-step2{
    color: #fff;
    height: 4290px;
 }
.bord{
    font-size: 18px;
    line-height: 37px;
    text-align: center;
    background: #E3B873;
    border-radius: 30px;
    position: absolute;
    margin-left: 688px;
    margin-top: 1065.45px;
    width: 55px;
    height: 2px;
}
.thetext-step2{
    position: absolute;
    margin-top: 1096px;
    margin-left: 396px;
    font-family: "NunitoSans-Regular";
    font-size: 18px;
    line-height: 37px;
    text-align: center;
    color: #131313;
}
.p-informa{
    position: absolute;
    display: flex;
    flex-direction: row;
    height: 12px;
    left: 327px;
    top: 2384px;
    width: 310.85px;
}

.personal-info-step2{
    position: relative;
    margin-right: 20px;
    font-size: 13px;
}
input{
    border: 0ch;
    margin-left: 18px;
    font-size: 13px;
}
.line-in-info-1{
    margin-top: 5px;
    height: 10px;
    border: none;
    border-top: 1px solid #333;
    width: 231px;
    opacity: 30%;
}
.phone-step2{
    font-size: 13px;
    line-height: 21px;
    position: relative;
    margin-right: 49px;
}
.label-step2{
    color: #000000;
    font-family: "NunitoSans-Regular";
    font-size: 14px;
    line-height: 163.68%;
}
.check-b.new-line-last.v2{
    margin-top: 189px;
    margin-left:169px;  
}
.check-b.new-line{
    z-index: 10;
}
.button.submit.v4{
    margin-top: 300px;
    margin-left: 325px;
    font-family: "NunitoSans-Regular"; 
}
.text-checkbox.v3 span{
    margin-left: 45px;
}
.button.submit{
    position: absolute;
    margin-left: 0px;
    width: 200px;
    height: 51px;
    border: 0ch;
}
.check-b.new-line{
    width: 100%;
}
 
.check-b{
    position: absolute;
    line-height: 163.68%;
    font-family: "NunitoSans-Regular";
    margin-top: 81.97px;
    margin-left: 250px;
    width: 500px;
}
    .label-step2 {
        cursor: pointer;
      }
      .checkbox-step2{
        display: none;
      }
      .fake-span2{
        display: inline-flex;
        margin-left: -2px;
        width: 18px;
        height: 18px;
        background: #E3B873;
        color: #fff;
        justify-content: center;
      }
      .fake-span2::before{
        content:"\2714";
        opacity: 0;
        transition: .2s;
      }
      .checkbox-step2:checked + .fake-span2::before{
        opacity: 1;
      }
.text-checkbox{
    margin-left: 0px;
    color: #f2f2f2;
}
.text-checkbox.v3{
    margin-left: 6px;
}
.check-b2.new-line2{
    width: 300px;
    margin-top: -20px;
}
.formlast{
    display: none;
}
.types-of-repair{
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-top:178.85px;
    margin-left: 278px;
 }
.types-of-repair-text{
    position: relative;
    font-family:"YesevaOne";
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #181818;
    width: 257px;
    height: 26px;
    margin-top: 1320px;
    margin-left: 300px;
    z-index: 1000;
}
    .vex{
    z-index: 10;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items:center;
    margin: 1370px 10px auto 350px;
}
.the-illustrations{
    height: 300px;
    position: relative;
    
}

.image1-step2{
    position: relative;
    display: flex;
    flex-direction: row;
    height: 100px;
}
.try{
    position: relative;
    display: flex;
    flex-direction: row;
    margin-top: 1450px;
    height:90%;
    width:27.5%;
}
.img-1{
    margin-top: 150px;
    height:410px;
    width:380px; 
}
.try:first-child{
    margin-left: 60px;
}
.ima4{
z-index: 2;
position: absolute;
top: 420px;
margin-left: 15px;
margin-right: 19px;   
}
.text-bottom{
    position: absolute;
    top: 0%;
    margin-left: 5%;
}
.topic{
    font-size: 18px;
    line-height: 25px;
    color: #363636;
    font-family:"YesevaOne";
    margin-top: 30px;
    margin-left: 43px;
    margin-bottom: 8px;  
}
.the-list{
    font-size: 13px;
    line-height: 26px;
    font-family: "NunitoSans-Regular";
    color: #959595;
    margin-left: 0px;
}
.the-list li{
    text-indent: -5px;
}
.from{
    background: #E3B873;
    margin-left: 10px;
    margin-top: 2px;
    width: 240px;
    height: 54px;
    border: 0ch;
    color: #FFFFFF;
    font-size: 17px;
    text-transform: uppercase;
}
.from p{
    font-family:"YesevaOne";
    margin-top: 16.9px;
    margin-right: 25px;
}
.container-1-step3 {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 1440px;
    height: 923px;
    margin-top: 2070px;
    margin-left: 0px;
}

.bg-image-top:first-child {
    width: 800px;
    height: 580px;
    margin-left: 0px;
}

.item {
    position: absolute;
    z-index: 1;
    line-height: 19px;
    color: #363636;
    margin-left: 210.81px;
}
.item:nth-child(2) {
    margin-top: 53px;
    
}

.item:nth-child(3) {
    margin-top: 198px;
}

.item:nth-child(4) {
    margin-top: 345px;
}
.item:nth-child(5) {
    margin-top: 480px;
}

.circle {
    position: relative;
    margin-top: 10px;
    margin-left: 55px;
    width: 56.76px;
    height: 56.76px;
    background: #E3B873;
    border-radius: 40px;
    border: 8px solid #FFFFFF;
    font-size: 14px;
    font-family: "NunitoSans-Regular";

}

.data {
    position: absolute;
    color: aliceblue;
    font-size: 18px;
    font-family: "YesevaOne";
    margin-left: 10px;
    margin-top: 10px;
}
.text-with-circle{
    margin-left: 40px;
    position: absolute;
    width: 400px;
    font-size: 14px;
    margin-top: 5px;

}
.text-with-circle.change{
    margin-top: 12px;
}

.container-top-2 {
    position: absolute;
    background-color: #131313;
    width: 510px;
    height: 510px;
    top: 59px;
    left: 830px;

}

.container-top-2 p{
    color: white;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    margin-top: 30px;
    margin-left: 0px;
    font-family: "NunitoSans-Regular";
    margin-bottom: 30px;
    border: 0ch;
}

.form-center {
    position: relative;
    margin-left: 10px;
    margin-top: 0px;
}

.info-data {
    position: relative;
    position: flex;
    border: 0px;
    font-size: 13px;
    line-height: 21px;
}
.info-data input::placeholder{
    color:#FFFFFF;
    margin-bottom: 0px;
}
.info-data label {
    color:rgba(255, 255, 255, 0.5);
}
.info-data input {
    background-color: #131313;
    border: 0ch;
    margin-bottom: 5px;
    margin-top: 4px;
}

.info-data:nth-child(2){
    margin-bottom: 45px;
    margin-top: 45px;
}
.line-in-info-3 {
    margin-top: 0px;
    height: 0px;
    border: none;
    border-top: 1px solid rgb(126, 120, 120);
    width: 331px;
    opacity: 30%;
    margin-bottom: 40px;

}
.text-step3{
    margin-left: 0px;
    margin-top: 10px;
}

.button.v5{
    position: absolute;
    width: 210px;
    height: 56px;
    margin-left: 0px;
    font-size: 13px;
    line-height: 21px;
    margin-top: 0px;
}
.help-save {
    margin-top: 97px;
    width: 344px;
    height: 47px;
    position: relative;
    display: flex;
    margin-left: 65px;

}

.piglet {
    position: relative;
    width: 70px;
    height: 70px;
    background: #E3B873;
    border-radius: 50px;
    margin-top: 510px;

}

.piglet>.pig {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    z-index: 1;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}


.help-save p{
    color: #E3B873;
    display: flex;
    margin-left: 27px;
    margin-top: 520px;
    font-size: 18px;
}

.section2 {
    height: 1000px;
    margin-left: 0px;

}

.bg-3step {
    background: url(thebackground.jpg) no-repeat;
    z-index: 2;
    width: 1438px;
    height: 860px;
    margin-bottom: 80px;
    position: absolute;

}

.bg-3step:after {
    background: #000000;
    content: ' ';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: 0;
    opacity: 0.8;
}

.title-fantasies{
    position: relative;
    color: #E3B873;
    z-index: 3;
    margin-bottom: 137.47px;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    font-family: "YesevaOne";
    margin-left: 90px;
    width: 411px;
    height: 66px;
    top: 139.36px;
}

.the-hidden-image{
    display: none;
}  

.the-fant-items {
    position: absolute;
    z-index: 20;
    color: aliceblue;
    margin-top: 50px;
    margin-left: 10px;
    list-style-type: none;
    display: block;

}

label {
    color: aliceblue;
}

.american {
    color: #E3B873;
    text-decoration-line: underline;
}
.the-fant-items li {
    margin-bottom: 10.5px;
    font-family: "NunitoSans-Regular";
    font-size: 20px;
    line-height: 38px;
}
.the-images {
    position: absolute;
    display: grid;
    display: inline-grid;
    z-index: 3;
    top: 4238px;
    height: 1000px;
    left: 615px;
    row-gap: 260px;
    column-gap: 300px;
    grid-template-columns: 100px 100px;
    grid-template-rows: 50px 50px;

}
.the1st{
    margin-top: 70px;
}
.the3st{
    margin-top: 358px;
}
.container-middle {
    height: 1000.11px;
    background-color:rgb(253, 253, 253);
} 
.text-checkbox1{
    color: #000000;
    margin-left: 0%;
}

.our-clients {
    height: 210px;
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-top: 760px;
    margin-left: 400px;
}

.our-cl {
    margin-top: 8px;
    margin-left: 225px;
    font-family: "YesevaOne";
    font-size: 20px;
    line-height: 28px;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 0px;
    font-size: 19px;
}

.the-hands {
    position: relative;
    margin-top: 0px;
    margin-left: 236px;
    font-size: 20px;
    line-height: 29px;
    text-align: center;
}

.adv {
    margin-top: 15px;
    margin-left: 85px;
    text-align: center;
    font-size: 18px;
    line-height: 29px;
    color: black;
    width: 400px;
    margin-bottom: 0px;

}

.name-people {
    position: absolute;
    display: flex;
    margin-left: 127px;
    font-family: "YesevaOne";
    font-size: 18px;
    line-height: 23px;
    color: #000000;
    margin-top: 8px;
}

.text-rectangle {
    position: relative;
    font-size: 13px;
    line-height: 190%;
    color: #959595;
    margin-top: 85px;
    margin-left: 30px;
    padding-bottom:30px;
  

}
.rectangles {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(253, 253, 253);
}

.rectangle:first-child {
    margin-left: 101px;
}

.rectangle:last-child {
    margin-right: 101px;
}

.rectangle {
    position: relative;
    display: flex;
    width: 376px;
    background: rgb(255, 255, 255);
    margin-bottom: 400px;
}

.yellow-rectangle {
    width: 293.85px;
    height: 54px;
    background: #E3B873;
    position: absolute;
    display: flex;
    z-index: 4;
    margin-top: 373px;
    align-items: center;
}

.yellow-rectangle:nth-child(2n) {
    color: #f2f2f2;
    margin-left: 0.1px;
    font-family: "YesevaOne";
    position: absolute;
    justify-content: space-around;
    text-transform: uppercase;
}

.img{
    margin-left: -19px;
    width: 1px;
    height: 60px;
}

.text-yellow-rectangle{
    font-family:"YesevaOne";
    margin-left: 5px;
    font-size: 16px;
    text-transform: uppercase;
    width: 200px;
    margin-top: 18px;

}
.middle-line{margin-left: 0px;}

.tried{
    margin-right: 20px;
}

.peoples-photo {
    position: absolute;
    margin-left: 29px;
    width: 75px;
    height: 75px;
    border-radius: 50px;
    margin-top: px;
}
.the-city2{
    background-repeat: repeat-x;
	background-image: url("the-buildings.png");
	width: 1430px;
	height: 380px;
    opacity: 10%;
    transform: matrix(-1, 0, 0, 1.14, 0, 0);
    margin-top: 600px;
    margin-bottom: 0px;
    background-color: rgb(248, 242, 242);

}

.the-last-form-div {
    margin-top: 160px;
    width: 883px;
    height: 470.32px;
    background-color: #000000;
    position: absolute;
    display: flex;
    z-index: 1000;
    margin-left: 318.7px;

}

.the-last-form {
    position: relative;
    display: flex;
    margin-top: 34px;

}

.the-last-container {
    height: 953.9px;
    margin: 0px;
}

.questions12 {
    position: absolute;
    color: #f2f2f2;
    text-transform: uppercase;
    font-family: "YesevaOne";
    margin-left: 310px;
    width: 400px;
    height: 26px;
    font-size: 20px;
}


.the-last-form-container {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-top: 70px;
    margin-left: 100px;
    margin-right: 58px;
    font-size: 13px;
    line-height: 21px;
}
.bg-input-last.v2{
    margin-left: 43px;
    font-size: 14px;
}
.line-in-info-last {
    width: 232px;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    height: 0;
    margin-left: 43px;
    font-size: 13px;
    line-height: 21px;
    margin-top: 4px;

}
.button.v5.part2{
    margin-top: 260px;
    margin-left: 225px;
}
.name-last label{
    margin-left: 45px;
    color: rgba(255, 255, 255, 0.5);
   
}
.name-last input::placeholder {
    color: #FFFFFF;
}

.questions12-v2 {
    margin-top: 48px;
    margin-left: 1px;
    text-transform: none;
}

.line-in-info-last.v2 {
    position: absolute;
    width: 550px;
    font-size: 13px;
    line-height: 21px;
    margin-left: 18px;
}

.bg-input-last {
    background-color: black;
    border: 0ch;
    margin-left: 20px;
    
}

.bg-last-last {
    background: url(bg-last.jpg) no-repeat;
    width: 1431px;
    height: 953.9px;
    position:relative;
    margin-left: -20px;
}

.bg-last-last:after {
    background: #000000;
    content:' ';
    top:0;
    bottom:0;
    left:0;
    right:0;
    position:absolute;
    z-index:0;
    opacity: 0.8;
    
}

.button.v5 {
    position: absolute;
    width: 213px;
    height: 51px;
    margin-top: 0px;
    margin-left: 230px;
    line-height: 21px;
}
.img-hide-l{
    display: none;
}
.text-checkbox{
margin-left: 0px;
}
.title-fantasies.v2{
    display: none;
}
.the-map {
    position: absolute;
    display: flex;
    margin-top: 425px;
    margin-left: 0px;
}

.div-last-text {
    position: relative;
    margin-top: 0px;
    z-index: 100;
    margin-left: 250px;
}

.div-last-text h2 {
    position: absolute;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #E3B873;
    font-family: "YesevaOne";
    margin-top: 275px;
    margin-left: 215px;

}

.images-social {
    position: relative;
    display: flex;
    margin-bottom: 0px;
    margin-left: 0px;
    z-index: 500;
}
.email{
    position: absolute;
    margin-top: 350px;
    margin-left: 444px;

}
.insta{
    position: absolute;
    margin-top: 350px;
    margin-left: 488px;

}
.the-last-form-hid{
    display: none;
}
.top.v2{
    margin-left: 0px;
    height: 78px;
}


@media (max-width: 1420px){

.tel a{
    margin-left: 50px;
}

.button.v1{
    margin-left: 1030px;
}

.ul-menu {
    margin-left: 134.21px;
}
.img-step2{

    transform: translate(460.45px,44.68px);
    margin-left: 40px;
}
.ul-menu-step2 {
    margin-left: 453.67px;
}
.text2-step2{
    width: 400px;
    font-size: 13px;
}
}


@media (max-width: 1300px){
*{
    padding: 0;
    margin: 0;
}
.bg{
        height:700px;
    }
.ul-menu {
    display:none;
}
.logo{
    position: absolute;
    font-family: 'NunitoSans-Regular';
    font-size: 13px;
    margin-left:40px ;
    text-transform: uppercase;
    color: #E3B873;
    margin-top: 10px;
    width: 200px;
}

.tel a{
    position: absolute;
    margin-top: 10px;
    margin-left: 71.5%;
    text-decoration: none;
    font-size: 15px;
    text-align: right;
    color: white;
}
.button.v1{
    display: none;
}
.text{
    margin-left: 40px;  

}
.text p{
    width: 1200px;
}
.small-text{
    margin-left: 40px;
    font-size: 30px;
    width: 1200px;
}
.button.v2{
    margin-left:40px ;
    width: 80%;
    height: 10%;
    font-size: 23px;
    margin-bottom: 80px;
}
.button.v3{
    display: none;
    }
.button.v3.hidden{
    display: block;
    margin-top: 555px;
    margin-left:40px ;
    width: 80%;
    height: 10%;
    font-size: 23px;
}
.step2-container{
        background-color: black;
        height: 2940.5px;
    margin-left: 0px;
}
    
.bord
    {display: none;
}   
.img-step2{
    display: none;
    }
.menu-step2{
    display: none;
    }
.menu-step2-1{
    display: none;
    }
.the-image-lines{
    display: none;
}

.text1-step2{
    font-size: 19px;
    width: 253px;
    height: 186px;
    top: 65.36px;
    left: 30%;  
    text-align: center;
}
.img-hide{
    display:flex;
    position: relative;
    margin-top: 300px;
    margin-left: 5%;
    z-index: 2;
    width:80%;
    height:70%;
}
.pointer-right{
    display: flex;
    margin-top: 25%;
    margin-left: 75%;
    z-index: 20;
    position: absolute;
}
.pointer-left{
    display: flex;
    position: absolute;
    margin-top: 25%;
    margin-left: 7%;
    z-index: 20;
}
.text2-step2{
    font-size: 23px;
    margin-bottom: 0px;
    text-align: center;
    width: 90%;
    
    
}
.text2-step2 p{
    margin-top: -65px;
    
}

.container1-step2{
    width: 162px;
    margin-top: 60px;
    margin-left: 5%;
    grid-template-columns: 420px 230px;
    grid-template-rows: 500px 500px;
}    

.online-control{
margin-top: 200px;
margin-left: 120px;
width: 800px;
z-index: 100;
position: absolute;

}
.online-control img{
    width: 450px;
    height: 300px;
}
.bg-step2{
background:url(середина.jpg) no-repeat;
width:80%;
height:80%;
left: 5%;
top: 2300px;
}

.bg-step2:after{
background:#000000;
width: 100%;
z-index:0;

}
.circle-step2{
    margin-left: 50px;
    top: 200px;
}
.thetext-step2{
position: absolute;
margin-top: -800px;
margin-left: 8%;
font-size: 18px;
text-align: center;
color: white;
margin-bottom: 0px;
z-index: 100;

}
.p-informa{
display: none;
}
.formlast{
display: flex;
flex-direction: column;
margin-top: 680px;
background-color: #000000;
position: absolute;
z-index: 1000;
margin-left: 0%;
font-size: 13px;
}
.formlast label{
margin-left: 19px;
}
.phone-num{
margin-top: 100px;
margin-bottom: 70px;
}
.button.submit.v4{
height: 25%;
margin-top: 25%;
width: 90%;
margin-left: 0%;
font-size: 40px;
}
.line-in-info-last-hide{
width: 600px;
border-top: 1px solid white;
height: 0;
margin-left: 25px;
font-size: 13px;
line-height: 21px;
}
.the-illustrations{
margin-top: 2590px;
    position: relative;
    width: 1300px;
    margin-bottom: 0%;
}

.container-top-2{
    display: none;
}
.container-1-step3 {
    display: none;
}
.section2{
    display: none;
    height: 0px;
}
.title-fantasies.v2{
    display: flex;
    z-index: 10000;
    color: #E3B873;
    font-size: 46px;
    text-align: center;
    margin-left: 10%;
    width: 700px;
    line-height: 148.48%;
}
.try{
    margin-top: 220px;
    margin-bottom: 850px;
    margin-left: 10px;
}
.img-1{
    position: relative;
    margin-top: 150px;
    height: 720px;
    width: 690px;
    margin-left: 40px;
}

.ima4{z-index: 2;
position: absolute;
top: 580px;
width: 20%;
height: 40%;
margin-left: -10px;
}
.ima4 img{
    width: 600px;
    margin-left: 33px;

}
.text-bottom{
    position: absolute;
    top: 20%;
    margin-left: 5%;

}

.from{
    background: #E3B873;
    margin-left: 46px;
    margin-top: 50px;
    width: 340px;
    height: 70px;
    font-size: 23px;
    text-transform: uppercase;
    line-height: 33px;
    margin-bottom: 0%;
}
.from p{
    font-family:"YesevaOne";
    height: 500px;
    margin-right: 25px;
}
.try:first-child{
    margin-left: 0px;
}
.topic{
    font-size: 30px;
    line-height: 33px;
    margin-bottom: 38px;
    margin-left: 60px;
    
}
.the-list{
    font-size: 20px;
    width: 300px;
    line-height: 29px;
    margin-left: 80px;
}
.the-list li{
    margin-bottom: 10px;
}

.image1-step2{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 0px;
}
.the-city2{
    display: none;
}
.the-last-form-div {
    width: 40%;
    height: 470.32px;
    background-color: #000000;
    position: absolute;
    display: flex;
    margin-left: 10%;

}
.main-step2{
    color: #fff;
    height: 3590px;
}
.pointer-left.v2{
    margin-top: 0%;
}
.pointer-right.v2{
    margin-top: 0%;

}

.the-hidden-image{
    position: absolute;
    display: inline;
    z-index: 10;
    margin-top: -200px;
    margin-left: 5%;  
    width:90%;
    height:60%;
}
           
.bg-last-last {
    display: none;
}
.the-last-form-div{
    display: none;
}

.label {
    cursor: pointer;
  }
.check-b{
display: none;
}
.fake{
width: 38px;
height: 38px;
margin-left: 20px;
}
.check-b-new-line{
margin-left: 20px;
}
.text-checkbox{
margin-left: 10px;
font-size: 22px;
}
.button.v5{
    margin-top: 130px;
    width: 95%;
    height: 40%;
    border: 0px;
    font-size: 30px;
}
.types-of-repair{
    flex-direction: column;
    margin-top:-1140px;
    margin-left: -200px;
    width: 1100px;
    width: 900px;
 }
.types-of-repair p{
    font-size: 35px;
    width: 500px;
}
.vex img{
    width: 200px;
    margin-left: 70px;
    margin-top: 20px;
}


.div{
    position: relative;
    display:flex;
    flex-direction: column;
    background-color: #000000;
    height: 100%;
    margin-top: 0px;
    height: 2300px;

}
.the-last-container{
    margin-top: 400px;

}
.the-last-form-hid{
    display: block;
    margin-top: 210px;
}
.the-last-form-hid h3{
    font-size: 250%;
    width: 900px;
    margin-left: 10%;
    margin-top: 100px;
    z-index: 2000;
    color: #f2f2f2;
    text-transform: uppercase;
    font-family:"YesevaOne";
}
.button.v6{
    margin-top: 40px;
    height: 80px;
    margin-left: 5%;
    width: 80%;
    font-size: 20px;
}
.name-last.v2{
    margin-top: 140px;
    margin-left: 5%;
    font-size: 28px;    
}
.name-last.v2 input{
    font-size: 28px;
}
.name-last.v2 label{
    margin-left: 20px;
}

.check-b-new-line-last{
    margin-top: 100px;
    margin-left: 5%;
}
.text-checkbox.v2{
    font-size: 24px;
}
.img-hide-l{
    margin-top: 100px;
    display: flex;
    flex-direction: column;

}
.img-hide-l img{
    width: 80%;
    height: 400px;
    margin-left: 5%;
}
.insta.v2{
    width: 60px;
    height: 60px;
    margin-top: 650px;
    margin-left: 50%;
    z-index: 5;
}
.email.v2{
    width: 60px;
    height: 60px;
    margin-top: 650px;
    margin-left: 38%;
    z-index: 5;
}
.img-hide-l h2 {
    margin-top: 100px;
    color: #E3B873;
    font-family:"YesevaOne";
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
}
.fake-span2.v2{
    margin-left: 4%;
    width: 4%;
    height: 4%;
}
.title-fantasies{
    display: block;
    color: #E3B873;
    z-index: 100000;
}
.ima4.v2{
    margin-bottom: 0px;
}
.bord-hide{
    position: relative;
    display: inline;
    margin-top: 700px;
    margin-left: 0px;
}
.bord-hide img{
    width: 79px;
    height: 3px;
    margin-top: 270px;
}
.top.v2{
    display: none;
}

}